{% extends 'base.html.twig' %}

{% block title %}Pages {{ pages.name }}{% endblock %}

{% block body %}
    <h1>Hellow {{ text }}</h1>
    <p>{{ pages.old|raw }}</p>
    <a href="{{ path('pages_test', {'page': show}) }}">Test</a>
    <img src="{{ asset('image/2.jpg') }}">
{% endblock %}
